body{
	margin: 0;
	font-family: Arial;
	font-size: 13px;
	background: #eee;
}
.main_container{
	max-width: 960px;
	margin: 50px auto;
	background: #fff;
	padding: 30px;
}
.form-control {
  border: 1px solid #a5a5a4 !important;
  box-shadow: none !important;
  height: 30px !important;
}
.form-group small {
  color: #9d9d9d;
}
.table thead tr {
  background: #898989 none repeat scroll 0 0;
  color: #ffffff;
}
.grid-table td input {
  min-width: 70px;
}
.icon-action {
  width: 30px;
  padding: 6px 0;
}
.float-right{ float: right; }
.line-btn{
    margin-top: 20px;
}
.gridsummary-table {
  margin-top: 0px;
}
.gridsummary-table ul li {
    list-style: none;
    margin-bottom: 10px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.gridsummary-table ul li span {
  float: right;
}
.gridsummary-table ul li .discount {
  display: inline-block;
  width: 140px;
}
.gridsummary-table ul li input {
  display: inline-block;
  float: right;
  width: 66px;
}
.net-total {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-top: 30px;
  padding: 8px 0;
}
.message{ margin-top: 50px; }
textarea.form-control {
  height: auto !important;
  resize: none;
}
.btn-content {
  padding: 30px 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: none !important;
}

@media screen and (max-width: 979px) {
.gridsummary-table {
  margin-top: 10px;
}
.gridsummary-table ul{
	padding: 0;
}
}
.chosen-container-single .chosen-single{
    height: 32px !important;
    line-height: 32px !important;
}
.table-responsive{
    overflow-x: inherit !important;
}
.invoice-heading{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.chosen-container-single .chosen-single div b {
    background: url('../images/chosen-sprite.png') no-repeat 0px 6px !important;
}
.chosen-container-single .chosen-single abbr{
    top: 10px !important;
}
input[name=item-unit-cost], input[name=item-cost], input[name=item-qty], input[name=item-discount], #tax-value{
    text-align: right;
}
#discount-value{
    text-align: right;
}
.item-discount{
    width: 60px;
    float: left;
}
.discount-percent{
    display: inline-block;
    width: 55px;
    float: right;
    padding: 6px 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 8px 3px;
}
.item-cost {
    padding: 5px 0;
    text-align: right;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #a5a5a4;
}
.select2-container .select2-selection--multiple{
    min-height: 30px;
}
